@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  width: 100vw;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  background-color: black;
  background-size: 80px, cover;
  height: 100vh;
  animation: gradient 30s ease infinite;
}

.form-container {
  background-color: white;
  width: 60vw;
  padding: 20px;
}

.tittle {
  font-weight: 700;
  font-size: 32px;
}

.image1 {
  width: 20vw;
  border-radius: 20px;
}

.colorGradient {
  background: linear-gradient(90deg, purple, darkblue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
}

@keyframes gradient {
  0% {
    background-color: black;
  }
  50% {
    background-color: purple;
  }
  100% {
    background-color: darkblue;
  }
}

.header {
  z-index: 999999;
  display: flex;
  background-color: white;
  justify-content: space-around;
  width: 100vw;
  padding: 10px;
  align-items: center;
}

.button {
  height: 45px;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(255, 255, 255);
  box-shadow: rgb(38 120 113 / 15%) 0px 4px 20px 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  animation: button 30s ease infinite;
}


.mr-10 {
  margin-right: 10px !important;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

@keyframes button {
  0% {
    background-color: black;
  }
  50% {
    background-color: purple;
  }
  100% {
    background-color: darkblue;
  }
}

.menus {
  display: flex;
}

.menus div {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .header div {
    margin-top: 20px;
  }
  
  .form-container {
    margin-top: 20px;
    width: 90vw;
  }

  .disable-on-600 {
    display: none !important;
  }

  .image-frame {
    height: 125px;
    flex: auto !important
  }

  .button {
    margin-top:  10px;
  }
  
}

@media (max-width: 400px) {
  .disable-on-400 {
    display: none !important;
  }
}

@media (max-width: 1100px) {
  .content-container {
    flex-direction: column;
  }

  html {
    overflow-y: scroll;
    overflow-x: auto;
  }

  #app{
    height: 125vh;

  }
}
